main.container {
    min-height: calc(100vh - 160px);
    
   
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    width: 40%;
    margin-left: 20px;
    
    
    
    
}

.fa-close{
    font-size: 40px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: red;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    text-align: center;

}

.main-title {
    font-size: 50px;
    line-height: 50px;
    text-transform: uppercase;
    color: #190E77;
    padding: 20px;
    background-color: #fff;
        
}


.description {
    font-size: 11px;
    margin-bottom: 20px;
    padding: 20px;
background-color: #fff;
    
}

.btn {
    padding: 8px 30px;
    font-size: 20px;
    text-decoration: none;
    background-color: #3C2BD1;
    color: white;
    border-radius: 4px;
}

.hero {
    position: fixed;
    z-index: -1;  
    /* z indeksas yra reikalingas kai norima atskirti nuotraukos sluoksnius.
    pagal nutylejima yra 0. 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; */
    inset: 0;
    background-image: url(../img/hero.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;

}